#projects-page-top {
    height: 1px;
    width: 1px;
}

.projects-container {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.project-item {
    color: var(--dark-0);
    background: var(--grey-1);
    padding: 2rem;
    box-sizing: content-box;
    width: 85vw;
    display: flex;
    align-items: center;
}

.project-item-image {
    width: 500px;
    height: auto;
    padding: 1rem;
    margin-right: 1rem;
}

.project-text {
    margin: 0 1rem 0 2rem;
}

.project-text-title {
    font-size: 2rem;
    margin: 0 0 1.2rem 0;
}

.project-item-description {
    line-height: 1.5rem;
    font-family: var(--font-stack-1);
}

.project-technologies-used {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
}

.project-tech-name {
    color: var(--dark-3);
    font-weight: 650;
    font-size: 0.8rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 0.5rem;
    border: 1px solid var(--dark-3);
    background: var(--grey-1);
    border-radius: 25px;
}

.project-links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
}

#link-icon {
    width: 1.1rem;
    height: 1.1rem;
    padding-right: 3px;
}

.project-link {
    font-family: var(--font-stack-2);
    color: var(--dark-0);
    font-size: 1.2em;
    font-weight: 900;
    margin-top: 2rem;
    padding-right: 2rem;
}

.project-item:hover {
    background: white;
}

.project-item:hover
.project-tech-name {
    background: var(--bright-0);
    border-color: var(--grey-1);
    color: var(--dark-0);
}

.project-link:hover {
    color: var(--bright-1);
    transform: translateX(2%) translateY(2%);
}

@media screen and (max-width: 1024px) {
    .project-item {
        flex-wrap: wrap;
    }

    .project-item-image {
        margin: 0 auto;
        padding: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .project-item {
        width: 80vw;
    }

    .project-item-image {
        margin: 0 auto;
        width: 350px;
    } 
}