#projects-page-top {
    height: 1px;
    width: 1px;
}

.projects-page-container {
    padding-top: 5rem;
}

.projects-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2em;
}

.project-item {
    color: white;
    border-radius: 20px;
    padding: 2em;
    box-sizing: content-box;
    width: 95%;
    display: flex;
    align-items: center;
}

.project-item-image {
    width: 300px;
    height: auto;
    padding: 1rem;
    margin-right: 2rem;
    border: 1px solid var(--light-0);
    border-radius: 20px;
}

.project-text {
    margin-left: 2em;
}

.project-technologies-used {
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 20px;
}

.project-tech-icon {
    max-width: 2.5rem;
    max-height: 2.5rem;
    padding: 1rem 0;
}

.project-link {
    max-width: 160px;
    font-family: var(--font-stack-2);
    color: var(--light-0);
    font-size: 1.2em;
    font-weight: 900;
    line-height: 30px;
    display: flex;
}

.project-text a {
    display: none;
}

.project-item:hover
.project-item-image {
    border-style: none;
    width: 480px;
}

.project-item:hover {
    color: var(--dark-0);
    background: var(--grad-1);
}

.project-item:hover
.project-item-title {
    margin: 0;
}

.project-item:hover a {
    display: block;
    padding-top: 1rem;
}

.project-link:hover {
    font-size: 1.5rem;
    color: var(--bright-0);
}