.contact-form {
    box-sizing: content-box;
    width: 70vw;
    padding: 1rem;
}

.contact-fieldset {
    border-style: none;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;

}

.form-section {
    margin: 0 auto;
}

#form-name,
#form-email {
    width: 60ch;
}

#form-message {
    width: 60ch;
    height: 10ch;
    line-height: 1.3rem;
}

#form-name,
#form-email,
#form-message {
    font-size: 1rem;
    font-family: var(--font-stack-1);
    color: var(--dark-0);
    background-color: white;
}

input::placeholder,
textarea::placeholder {
    color: var(--dark-2);
    font-size: 0.8em;
}

.submit-btn {
    margin: 0 auto;
    width: 10em;
    border: 1px solid var(--light-0);
    border-radius: 2px;
    background-color: var(--dark-0);
    font-family: var(--font-stack-2);
}

.submit-btn:hover {
    background-color: var(--bright-0);
    color: var(--dark-0);
    transform: translateY(-1px) translateX(2px);
}