#profile-page-top {
    height: 1px;
    width: 1px;
}

.profile-page-container {
    color: white;
}

.about-me-headline {
    margin: 5rem 0 2rem 0;
    font-size: 2rem;
    color: var(--light-1);
}

.profile-image-container,
.about-me-container-top,
.about-me-content-container-top,
.about-me-container-bottom,
.about-me-content-container-bottom {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-content-container-top,
.about-me-content-container-bottom {
    margin: 0 2rem;
    flex-direction: column;;
}

.about-me-container-bottom {
    padding-top: 5rem;
    margin-bottom: 1rem;
}

#profile-image-top,
#profile-image-bottom {
    margin: 0 2rem;
    height: auto;
    max-width: 95%;
}

#profile-image-top {
    border-radius: 50%;
}

.about-me-body-text {
    line-height: 1.5;
    font-weight: 350;
}

.personal-docs-container {
    margin-top: 5rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.personal-doc-item {
    height: 35px;
    width: 165px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--dark-0);
    border-radius: 2px;
    background: var(--grey-0);
    color: var(--dark-3);
    font-weight: 600;
    line-height: 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-doc-item:hover {
    background: var(--bright-0);
    border-color: var(--grey-1);
    color: var(--dark-0);
}
