#profile-page-top {
    height: 1px;
    width: 1px;
}

.profile-page-container {
    color: white;
}

.about-me-headline {
    margin: 7rem 0 0 0;
    color: var(--light-1);
    font-size: 2rem;
}

.profile-image-container,
.about-me-container-top,
.about-me-content-container-top,
.about-me-container-bottom,
.about-me-content-container-bottom {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-content-container-top,
.about-me-content-container-bottom {
    margin: 0 2rem;
    flex-direction: column;;
}

.about-me-container-bottom {
    padding-top: 5rem;
}

#profile-image-top,
#profile-image-bottom {
    margin: 0 2rem;
    height: auto;
    max-width: 95%;
}

#profile-image-top {
    border-radius: 50%;
}

.about-me-body-text {
    line-height: 1.5;
    font-weight: 350;
}
