#profile-page-top {
    height: 1px;
    width: 1px;
}

.profile-page-container {
    color: white;
}

.about-me-headline-top,
.about-me-headline-bottom {
    color: white;
    font-family: var(--font-stack-1);
    font-size: 2.2rem;
    font-weight: 250;
}

.about-me-headline-top {
    margin: 5rem 0 2rem 0;
}

.about-me-headline-bottom {
    margin: 2rem 0 5rem 0;
}

.profile-image-container,
.about-me-container-top,
.about-me-content-container-top,
.about-me-container-bottom,
.about-me-content-container-bottom {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.about-me-content-container-top,
.about-me-content-container-bottom {
    margin: 0 2rem;
    flex-direction: column;
    align-items: flex-start;
}

.about-me-container-top {
    margin-top: 5rem;
}

.about-me-container-bottom {
    padding-top: 5rem;
    margin-bottom: 1rem;
}

#profile-image-top,
#profile-image-bottom {
    margin: 0 1rem;
    width: 420px;
    height: 420px;
    max-width: 75%;
}

#profile-image-top {
    border-radius: 50%;
}

.about-me-body-text {
    line-height: 2;
    font-weight: 350;
}

.personal-docs-container {
    margin: 7rem 0 5rem 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.personal-doc-item {
    height: 35px;
    width: 165px;
    margin: 0 1.5rem 0 1.5rem;
    padding: 1rem;
    border-radius: 25px;
    line-height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {

    .profile-image-container,
    .about-me-container-top,
    .about-me-content-container-top,
    .about-me-container-bottom,
    .about-me-content-container-bottom {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px) {
    .personal-docs-container {
        flex-wrap: wrap;
    }

    #profile-image-top,
    #profile-image-bottom {
        width: 250px;
        height: 250px;
    }

    .personal-docs-container {
        margin-bottom: 0;
    }

    .about-me-headline-bottom {
        margin-bottom: 2rem;
    }
}
    #profile-image-bottom {
        margin-top: 2rem;
    }


    @media screen and (max-width: 461px) {
        #profile-image-top,
        #profile-image-bottom {
            width: 200px;
            height: 200px;
        }
    }