#skills-page-top {
    height: 1px;
    width: 1px;
}

.skills-page-container {
    padding-top: 5rem;
}

.skills-title {
    font-size: 2em;
    color: white;
    font-family: var(--font-stack-2);
}

.skills-container {
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.skill-item {
    box-sizing: content-box;
    height: 10rem;
    width: 10rem;
    background: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-item-name {
    margin: 0 auto;
    color: var(--dark-3);
}

.skill-item-image {
    margin: 0.5rem auto;
    max-width: 70px;
    max-height: 70px;
}
