#skills-page-top {
    height: 1px;
    width: 1px;
}

.skills-page-container {
    padding-top: 5rem;
}

.skills-title {
    font-size: 2em;
    color: white;
    font-family: var(--font-stack-2);
}

.skills-container {
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.skill-item {
    padding: 2em;
    box-sizing: content-box;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-item-name {
    color: var(--dark-3);
}

.skill-item-image {
    width: 80px;
    height: auto;
}