.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.page-title {
  color: white;
  font-family: var(--font-stack-1);
  font-size: 2.2rem;
  font-weight: 250;
  padding: 0 0 5rem 0;
  margin: 0;
}

.my-name-container {
  padding: 0;
  margin: 1em;
  display: flex;
}

.my-name-container {
  justify-content: flex-start;
}

#my-name {
  position: fixed;
  appearance: none;
  background: none;
  margin: 5px;
  padding: 5px;
  z-index: 1000;
}

#my-name {
  top: 9px;
  left: 0;
  padding: 0 1rem;
  font-family: var(--font-stack-2);
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.top-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 99vw;
  height: 3rem;
  background-color: var(--dark-0);
  z-index: 900;
}

.btns {
  border: 1px solid var(--dark-0);
  background: var(--bright-0);
  color: var(--dark-0);
  font-weight: 500;
  text-align: center;
}

.btns:hover {
  border-color: white;
  background: var(--dark-0);
  color: white;
  font-weight: 550;
}

@media screen and (max-width: 476px) {
  #my-name {
    display: none;
  }
}