@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: "Oswald", sans-serif;
font-family: "Lexend Deca", sans-serif;
font-family: "Lato", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Oswald", "Lexend Deca", "Lato", "Roboto", Arial, sans-serif;
*/

:root {
  --font-stack-1: "Lexend Deca", "Lato", "Roboto", Arial, sans-serif;
  --font-stack-2: "Oswald", "Lexend Deca", "Lato", "Roboto", Arial, sans-serif;
  font-family: var(--font-stack-1);
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-0: #080c00;
  --dark-1: #031740;
  --dark-2: #274873;
  --dark-3: #637AA6;

  --light-0: #e0ddcf;
  --light-1: #F2E2CE;

  --bright-0: #F2C94C;
  --bright-1: #CC2936;

  --grad-1:
    linear-gradient(
      var(--light-0),
      var(--light-1),
      var(--dark-3),
      var(--dark-2),
      var(--dark-0)
      );

  background-color: var(--dark-0);
  color: var(--light-1);
}

html,
body {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 90%;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

hr {
  width: 95%;
}

#dot,
.ellipsis {
  background-color: var(--bright-0);
  border-radius: 50%;
}

#dot {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 1%;
  right: 10%;
}

.ellipsis {
  width: 15px;
  height: 15px;
}

.ellipsis-container {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15%;
}
