#contact-page-top {
    height: 1px;
    width: 1px;
}

.contact-page-display {
    width: 80vw;
    height: 400px;
    margin: 0 0 3rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.contact-location-display {
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 90vw;
    margin: 2rem 0 10rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.contact-btn {
    padding: 0.5rem 2rem;
    width: 120px;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .contact-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .contact-page-display {
        flex-wrap: wrap;
    }
}
